<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hellow, World")

Hellow, World

In [ ]:
print("Hellow, World")

Hellow, World

In [ ]:
def add(a, b):
    return a + b
print(add(2, 3))  # Output

5

In [ ]:
a = 5
b = 10
print(a + b)  # Output: 15

15

print string

In [ ]:
print

Hellow, World

print variables

In [ ]:
name = "Alice"
age = 25
print(name)
print(age)

Alice
25

print multiple values

In [ ]:
name = "Alice"
age = 25
print("Name:", name, "Age:",age)

Name: Alice Age: 25

formatted string literals

In [ ]:
name = "Alice"
age  = 25
print(f"Name: {name},Age: {age}")

Name: Alice,Age: 25

using formmated method

In [ ]:
name = "Alice"
age = 25
print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 25

printed formmated numbers

In [ ]:
number = 1234567.89123
print(f"Formatted Number: {number:.2f}")

Formatted Number: 1234567.89

Program to print"Hellow, World!"

In [ ]:
print("Hellow,World!")

Hellow,World!

program to add two numbers

In [ ]:
num1 = float(input("Enter the first number" ))
num2 = float(input("Enter the second number"))
addition = num1 + num2
print("Addition:", addition)

Enter the first number10
Enter the second number10
Addition: 20.0

program to swap two numbers using a temporary variable

In [ ]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
temp = a
a = b
b = temp
print("After swapping:")
print("First number:", a)
print("Second number:", b)

Enter the first number:10
Enter the second number:5
After swapping:
First number: 5
Second number: 10

program to swap two numbers without using a third variable

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
a = a + b
b = a - b
a = a - b
print("After swapping:")
print("First number:",a)
print("Second number:", b)

Enter the first number: 10
Enter the second number: 5
After swapping:
First number: 5
Second number: 10

program to calculate the area and perimeter of the triangle

In [ ]:
import math
a = float(input("Enter the first side: "))
b = float(input("Enter the second side: "))
c= float(input("Enter the third side: "))
perimeter = a + b + c
print("Perimeter of the triangle:", perimeter)
s = perimeter / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))
print("Area of the triangle:",area)

Enter the first side: 10
Enter the second side: 20
Enter the third side: 30
Perimeter of the triangle: 60.0
Area of the triangle: 0.0

program to calculate the simple intrest

In [ ]:
import math
p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of intrest(in %):"))
time = float(input("Enter time (in yerars);"))
simple_intrest = (p * r * time) / 100
print("Simple intrest is:",simple_intrest)

Enter the principal amount: 1000
Enter the rate of intrest(in %):2
Enter time (in yerars);3
Simple intrest is: 60.0

program to calculate the surfacearea of cylinder

In [ ]:
import math
r = float(input("Enter the radius of the cylinder: "))
h = float(input("Enter the height of cylinder: "))
surface_area = 2 * math.pi * r * (r + h)
print("The surface area of the cylinder is: ",surface_area)

Enter the radius of the cylinder: 7
Enter the height of cylinder: 15
The surface area of the cylinder is:  967.6105373056563

program to calculate the hypotenuese of right angled triangle

In [ ]:
side1 = float(input('Enter the first side of triangle: '))
side2 = float(input("Enter thesecond side of triangle: "))
h = math.sqrt(side1**2 + side2**2)
print("The hypotenuse of the triangle is:", h)

Enter the first side of triangle: 5
Enter thesecond side of triangle: 4
The hypotenuse of the triangle is: 6.4031242374328485

program to calculate the compound intrest

In [ ]:
p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of intrest(in %):"))
t = float(input("Enter the time (in years): "))
compound_interest = p * (1 + r / 100) ** t - p
print("The compound interest is:",compound_interest)

Enter the principal amount: 1000
Enter the rate of intrest(in %):2
Enter the time (in years): 4
The compound interest is: 82.43216000000007