<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EMPTY SET

In [ ]:
empty_set = set()
print(empty_set)

set()

NON EMPTY SET

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

SET FROM A LIST

In [ ]:
set_from_list = set([1, 2, 2, 3, 4])
print(set_from_list)

{1, 2, 3, 4}

SET METHODS

add(element)

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

remove(element)

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

discard(element)

In [ ]:
c

{1, 2, 4, 5, 6}

pop()

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
removed = my_set.pop()
print(my_set)

{2, 3, 4, 5, 6}

clear()

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.clear()
print(my_set)

set()

union(other_set)

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

intersection(othe
r_set)

In [ ]:
set1 = {1, 2s, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.intersection(set2)

{4, 5, 6}

difference(other_
set)

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.difference(set2)

{1, 2, 3}

symmetric_differe
nce()

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

issubset(other_se
t)

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.issubset(set2)

False

issuperset(other_
set)

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set1.issuperset(set2)

False

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
empty_dict = {}
print(empty_dict)
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)
constructed_dict = dict(name="Bob", age=30)
print(constructed_dict)

{}
{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Bob', 'age': 30}

get(key, default)

Dictionary Methods

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.get("age", 0)
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
list(my_dict.keys())
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

values()

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
list(my_dict.values())
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

items()

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
list(my_dict.items())
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

update(other_dict)

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.update({"city": "London"})
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'London'}

pop(key)

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.pop("age")
print(my_dict)

{'name': 'Alice', 'city': 'New York'}

popitem()

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.popitem()
print(my_dict)

{'name': 'Alice', 'age': 25}

clear()

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.clear()
print(my_dict)

{}

Looping Through Data Structures

Loop over Sets

In [ ]:
my_set = {"apple", "banana", "cherry"}
for item in my_set:
  print(item)

apple
banana
cherry

Loop over Dictionaries

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3}

for key in dict1:
  print(key)

for value in dict1.values():
  print(value)

a
b
c
1
2
3

In [ ]:
for key, value in dict1.items():
  print(f"{key}: {value}")

a: 1
b: 2
c: 3

Combined Example

In [ ]:
data = {"fruits": {"apple", "banana"}, "veggies": ["carrot", "broccoli"]}
for category, items in data.items():
  print(f"{category}: {items}")

fruits: {'apple', 'banana'}
veggies: ['carrot', 'broccoli']

Regular Expressions (Regex)

match() for searching a string in the message in the begnning

In [ ]:
import re
msg = "Python is an object oriented langauge."
x = re.match("Python",msg)
if(x):
  print("pattern is matched")
else:
  print("Match not found")

pattern is matched


search() - Searches for the
pattern anywhere in
the string.

In [ ]:
import re
txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

findall()- Returns all matches of
the pattern.

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt = "The rain in spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'spain']