<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

valid ad ivalid identifiers

In [ ]:
var1 = 10
_variable = 20
var = 30

variable declarationn

In [ ]:
x = 5
name = "Alice"
pi = 3.14
print(type(x))
print(type(name))
print(type(pi))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x = 5
name = "Alice"
pi = 3.14
# Printing variables
print(x)
print(name)
print(pi)

5
Alice
3.14

In [ ]:
x = 10
y = 3.14
z = 3 + 4j

implicit data types

In [ ]:
x = 5 # int
y = 2.5 # float
z = x + y
print(z) # Result is a float: 7.5

7.5

explicit data type

In [ ]:
x = "10"
y = int(x) + 5
print(y) # Output: 15

15

assigment operaters

In [ ]:
x = 5
x += 3
print(x)

8

In [ ]:
x = 5
x -= 3
print(x)

2

In [ ]:
x = 5
x *= 3
print(x)

15

In [ ]:
x = 5
x /= 3
print(x)

1.6666666666666667

idetity operaters
eg 1
using is and is not

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x
print(x is z)
print(x is y)
print(x is not y)

True
False
True

eg 2  Comparing immutable types

In [ ]:
a = 10
b = 10
print(a is b)

True

Membership Operators

In [ ]:
#Example 1
text = "Hello, World!"
print("Hello" in text)
print("Python" not in text)

True
True

In [ ]:
#example 2
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits) # True
print("grape" not in fruits) # True

True
True

Write a program for addition of float of three numbers.

In [ ]:
num1 = float(input("Enter the first number:"))
num2 = float(input("Ennter the second number:"))
num3 = float(input("Enter the third number:"))
sum = num1 + num2 + num3
print("The sum of three numbers is:", sum)

Enter the first number:5.5
Ennter the second number:6.5
Enter the third number:2.5
The sum of three numbers is: 14.5

Write a program to calculate the average of three numbers

In [ ]:
x = 2
y = 3
y = 4
average = (x + y + z)/3
print("The average is:",average)

The average is: 2.8333333333333335

Write a program to calculate the area of rhombus

In [ ]:
d1 = int(input("Enter the length of the first diagonal:"))
d2 = int(input("Enter the length of the second diagonal:"))
a = (1/2)*d1*d2
print("The area of rhombus is:", a)

Enter the length of the first diagonal:10
Enter the length of the second diagonal:20
The area of rhombus is: 100.0

Write a program to find the area of parallelogram

In [ ]:
b = float(input("Enter base:"))
h = float(input("Enter height:"))
area = b*h
print("The area of parallalogram is:", area)

Enter base:4
Enter height:6
The area of parallalogram is: 24.0

Write a programm to find the volume and surface area of the cube

In [ ]:
s = float(input("Enter the side of the cube:"))
volume = s**3
surface_area = 6*s**2
print("The volume of the cube is:", volume)
print("The surface area of the cube is:", surface_area)

Enter the side of the cube:5
The volume of the cube is: 125.0
The surface area of the cube is: 150.0

Using `in` with dictionaries

In [ ]:
my_dict = {"name": "Alice", "age": 25}
print("name" in my_dict) # True
print("Alice" in my_dict) # False

True
False

Operator precedence

In [ ]:
result = 3 + 2 * 2 ** 2
print(result)

11

In [ ]:
result = (3 + 2) * 2 ** 2
print(result)

20

aSSOCIAVITY

In [ ]:
result = 10 - 5 + 2
print(result)

7

In [ ]:
result = 2 ** 3 ** 2
print(result)

512

Parentheses for clarity

In [ ]:
# without parantheses
result = 3 + 5 * 2 - 8 / 4
print(result)

11.0

In [ ]:
#with parantheses
result = (3 + (5 * 2)) - (8 / 4)
print(result)

11.0

In [ ]:
result = 10 + 2 * 3 ** 2
print(result)

28

In [ ]:
result = 4 + 8 / 2 ** 2 * 3
print(result)

10.0

Write a program to swap two numbers using bitwise xor

In [ ]:
x = 5
y = 7
print(f"Before swapping:x = {x}, y = {y}")
x = x ^ y
y = x ^ y
x = x ^ y
print(f"After swapping:x = {x}, y ={y}")

Before swapping:x = 5, y = 7
After swapping:x = 7, y =5