<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CREATING A FUNCTION

In [ ]:
def findSum(a, b):
  result = a + b
  return result

x = 5
y = 7
z = findSum(x, y)
print(z)

12

RETURN MULTIPLE VALUES

In [ ]:
def arithmetic(num1, num2):
  add = num1 + num2
  sub = num1 - num2
  multiply = num1 * num2
  division = num1 / num2
  return add, sub, multiply, division
x = 54
y = 21
a, b, c, d = arithmetic(x, y)
print(a, b, c, d)

75 33 1134 2.5714285714285716

POSITIONAL Arguments

In [ ]:
def my_function(fname, lname):
  print(f"My first name is {fname} and my last name is {lname}")
my_function("Rohan", "kumar")

My first name is Rohan and my last name is kumar

KEYWORD ARGUMENTS

In [ ]:
def my_function(fname, lname):
  print(f"My first name is {fname} and my last name is {lname}")
my_function(lname="Rohan", fname="kumar")

My first name is kumar and my last name is Rohan

DEFAULT ARGUMENTS

In [ ]:
def my_function(fname, lname="kumar"):
  print(f"My first name is {fname} and my last name is {lname}")
my_function("Akash")

My first name is Akash and my last name is kumar

VARIABLE LENGTH POSITIONAL ARGUMENTS

In [ ]:
def sum_num(num1, *num):
  result = num1
  for i in num:
    result += i
  return result
r =  sum_num(10, 20, 30)
print(f"The sum of numbers is: {r}")
r =  sum_num(10, 20, 30, 40, 50)
print(f"The sum of numbers is: {r}")

The sum of numbers is: 60
The sum of numbers is: 150

VARIABLE LENGTH KEYWORD ARGUMENTS

In [ ]:
def my_func(**cutie):
  print(f"The first name is {cutie['fname']} and last name is {cutie['lname']}")
my_func(fname="Rohan", lname="kumar")

The first name is Rohan and last name is kumar

Mutable Example (List):

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

Immutable Example (String):

In [ ]:
my_string = "hello"
my_string = "Hello"
print(my_string)

Hello

Functions and Mutability:

In [ ]:
def modify_list(lst):
  lst.append(4)
my_list = [1, 2, 3]
modify_list(my_list)
print(my_list)

[1, 2, 3, 4]

Mathematical Functions:

In [ ]:
number = -10
absolute_value = abs(number)
print(f"The absolute value of {number} is {absolute_value}")
numbers_list = [4, 7, 1, 9, 3]
largest_number = max(numbers_list)
print(f"The largest number in the list {numbers_list} is {largest_number}")
smallest_number = min(numbers_list)
print(f"The smallest number in the list {numbers_list} is {smallest_number}")
total = sum(numbers_list)
print(f"The sum of all numbers in the list {numbers_list} is {total}")

The absolute value of -10 is 10
The largest number in the list [4, 7, 1, 9, 3] is 9
The smallest number in the list [4, 7, 1, 9, 3] is 1
The sum of all numbers in the list [4, 7, 1, 9, 3] is 24

Type Conversion Functions:

In [ ]:
string_number = "42"
integer_value = int(string_number)
print(f"The string '{string_number}' converted to an integer is {integer_value}")
integer_number = 10
float_value = float(integer_number)
print(f"The integer {integer_number} converted to a float is {float_value}")
number = 3.14
string_value = str(number)
print(f"The float {number} converted to a string is '{string_value}'")
mixed_string = "123.45"
converted_float = float(mixed_string)
converted_int = int(float(mixed_string))
print(f"The string '{mixed_string}' converted to a float is {converted_float}, and to an integer is {converted_int}")

The string '42' converted to an integer is 42
The integer 10 converted to a float is 10.0
The float 3.14 converted to a string is '3.14'
The string '123.45' converted to a float is 123.45, and to an integer is 123

Input/Output Functions:

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello, {name}! You are {age} years old.")

Enter your name: himadri
Enter your age: 19
Hello, himadri! You are 19 years old.

Iterables and Collections:

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
length = len(fruits)
print(f"The list of fruits is {fruits}, and it contains {length} items.")

The list of fruits is ['apple', 'banana', 'cherry', 'date'], and it contains 4 items.

In [ ]:
unsorted_numbers = [5, 3, 8, 1, 2]
sorted_numbers = sorted(unsorted_numbers)
print(f"The unsorted list is {unsorted_numbers}. The sorted list is{sorted_numbers}.")

The unsorted list is [5, 3, 8, 1, 2]. The sorted list is[1, 2, 3, 5, 8].

In [ ]:
start = 1
stop = 10
step = 2
number_sequence = list(range(start, stop, step))
print(f"The range from {start} to {stop} with a step of {step} is: {number_sequence}")

The range from 1 to 10 with a step of 2 is: [1, 3, 5, 7, 9]

Write a function to find the factorial of a number

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
     return 1
  else:
    return n * factorial(n - 1)
num = 5
result = factorial(num)
print(f"Factorial of {num} is {result}")

Factorial of 5 is 120

Write a function to check if a number is prime

In [ ]:
def is_prime(num):
   if num <= 1:
       return False
   for i in range(2, int(num**0.5) + 1):
       if num % i == 0:
           return False
   return True

print(is_prime(7))

True

 Write a function to calculate the nth Fibonacci number using recrusion

In [ ]:
def fibonacci(n):
   if n <= 1:
      return n
   return fibonacci(n - 1) + fibonacci(n - 2)
print(fibonacci(6))

8

Find sum of digits.

In [ ]:
def sum_of_digits(n):

    return sum(int(digit) for digit in str(n))

print(sum_of_digits(1234))

10

Check Palindrome.

In [ ]:
def is_palindrome(s):
  return s == s[::-1]

print(is_palindrome("radar"))
print(is_palindrome("hello"))

True
False

Write a function to Find GCD of Two Numbers.

In [ ]:
def gcd(a, b):
  while b:
     a, b = b, a % b
  return a
print(gcd(12, 18))

6

Count Vowels in a String.

In [ ]:
def count_vowels(s):
  vowels = "aeiouAEIOU"
  return sum(1 for char in s if char in vowels)
print(count_vowels("hello world"))

3

Check Armstrong Number.

In [ ]:
def is_armstrong(n):
  num_str = str(n)
  num_digits = len(num_str)
  return sum(int(digit) ** num_digits for digit in num_str) == n
print(is_armstrong(153))
print(is_armstrong(123))

True
False