<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

global nonlocal and local variable

In [ ]:
x = 10
def outer_function():
  y = 20
  def inner_function():
      nonlocal y
      y += 10
      print(f"Nonlocal y: {y}")

  inner_function()
  print(f"Global x: {x}")
outer_function()

Nonlocal y: 30
Global x: 10

# ***Recrusion***

 Calculate the factorial of a number using recursive function.

In [ ]:
def fact(num):
  if num == 0:
    return 1
  else:
    return num * fact(num-1)

n = int(input("Enter a number: "))
f = fact(n)
print(f"The factorial of {n} is {f}")

Enter a number: 10
The factorial of 10 is 3628800

Print the fibonacci series using recursive function.

In [ ]:
def fib(num):
    if num==0:
      return 0
    elif num==1:
      return 1
    else:
      return fib(num-1) + fib(num-2)

r = int(input("Enter a range: "))
for i in range(r):
    print(fib(i), end=' ')

Enter a range: 8
0 1 1 2 3 5 8 13

# *lambda* **function**
Program to find the sum of three numbers.

In [ ]:
result = lambda x,y,z: x+y+z
print(result(10,20,30))
print(result(1,5,6))

60
12

filter() function

In [ ]:
n = {1,2,3,4,5,6,7,8,9,10}

even = list(filter(lambda x: x%2==0, n))
print(even)

[2, 4, 6, 8, 10]

Same as example 3 but using lambda function

In [ ]:
age = [5, 18, 23, 15, 25, 65, 74, 85, 12]
adults = list(filter(lambda x: x>=18, age))
print(adults)

[18, 23, 25, 65, 74, 85]

map() Function

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]
square = list(map(lambda x: x**2, num_list))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Finding Area of circles whose radii are in a list.

In [ ]:
radius_list = [0, 10, 20, 30, 40, 50]
area = list(map(lambda x: 3.14*x**2, radius_list))
area = list(area)
print(area)

[0.0, 314.0, 1256.0, 2826.0, 5024.0, 7850.0]

Find the largest item from a given list.

In [ ]:
from functools import reduce
num_list = [1,2,3,4,5,6,7,8,9,10]
largest = reduce(lambda x,y: x if x>y else y, num_list)
print(largest)

10

summming all elements in a list

In [ ]:
from functools import reduce
num_list = [1,2,3,4,5,6,7,8,9,10]
sum = reduce(lambda x,y: x+y, num_list)
print(sum)

55

# ***capgemini***

count words in a sentence

In [ ]:
s = "Python is fun."
word_count = len(s.split())
print(word_count)

3

calculate the power of a number using recursion

In [ ]:

def power(base, exp):
    if exp == 0:
        return 1
    elif exp == 1:
        return base
    else:
        return base * power(base, exp - 1)

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = power(base, exp)
print(f"{base} raised to the power of {exp} is {result}")

Enter the base: 9
Enter the exponent: 5
9 raised to the power of 5 is 59049

find the smallest missing positive integer in an array

In [ ]:
def smallest_missing_positive(nums):
    n = len(nums)
    for i in range(n):
        if nums[i] <= 0 or nums[i] > n:
            nums[i] = n + 1
    for num in nums:
        if 1 <= abs(num) <= n:
            nums[abs(num) - 1] = -abs(nums[abs(num) - 1])

    for i in range(n):
        if nums[i] > 0:
            return i + 1
    return n + 1
nums = [3, 4, -1, 1]
print(smallest_missing_positive(nums))

2