<a href="https://colab.research.google.com/github/Himadreee18/Python/blob/main/DAY9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

packing

In [ ]:
packed = 1, 2, 3, 4
print(packed)

(1, 2, 3, 4)

unpacking

In [ ]:
x, y, z = 10, 20, 30
print(x, y, z)

10 20 30

return

In [ ]:
def return_multiple():
  return 5, 10, 15
val1, val2, val3 = return_multiple()
print(val1, val2, val3)

5 10 15

mutable sequences

In [ ]:
my_list = [1, 2, 3]
my_list[1] = 20
print(my_list)

[1, 20, 3]

immutable sequences

In [ ]:
text = "hello"
text[1] = "e"
text = "Hello"
print(text)

TypeError: 'str' object does not support item assignment

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
"hello".find("e")

1

In [ ]:
"hello".replace("l", "x")

'hexxo'

In [ ]:
lst = [1, 2];
lst.append(3)
print(lst)

[1, 2, 3]

In [ ]:
lst = [1, 2, 3];
lst.remove(2)
print(lst)

[1, 3]

In [ ]:
lst = [1, 2];
lst.extend([3, 4])
print(lst)

[1, 2, 3, 4]

In [ ]:
lst = [1, 2];
lst.insert(1, 99)
print(lst)

[1, 99, 2]

In [ ]:
lst = [1, 2, 3];
lst.pop(1)
print(lst)

[1, 3]

In [ ]:
lst = [1, 2, 3];
lst.clear()
print(lst)

[]

In [ ]:
lst = [1, 2, 2, 3];
lst.count(2)
print(lst)

[1, 2, 2, 3]

In [ ]:
lst = [3, 1, 2];
lst.sort()
print(lst)

[1, 2, 3]

In [ ]:
lst = [1, 2, 3];
lst.reverse()
print(lst)

[3, 2, 1]

In [ ]:
lst = [1, 2];
new_lst = lst.copy()
print(lst)

[1, 2]

list comprehenions

In [ ]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [ ]:
my_tuple = (10, 20, 30, 10)
print(my_tuple.count(10))
print(my_tuple.index(20))
print(my_tuple.index(30))

2
1
2

In [ ]:
# Packing
packed = 1, 2, 3
# Unpacking
x, y, z = packed
print(x, y, z)
print(packed)

1 2 3
(1, 2, 3)

Write a function that returns the sum and product of two numbers. Use unpacking to assign the results.

In [ ]:
def sum_and_product(a, b):
 return a + b, a * b
result_sum, result_product = sum_and_product(4, 5)
print(result_sum, result_product)

9 20

Create a list of squares for all odd numbers between 1 and 10.

In [ ]:
odd_squares = [x**2 for x in range(1, 11) if x % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

Given a tuple (10, 20, 30, 40), write a function to:
1. Count occurrences of 20.
2. Find the index of 30.

In [ ]:
my_tuple = (10, 20, 30, 40)
print(my_tuple.count(20))
print(my_tuple.index(30))

1
2

Write a program to count the number of vowels in a given string.

In [ ]:
text = "Hello, Python!"
vowels = [char for char in text.lower() if char in "aeiou"]
print(len(vowels))

3

What happens if you try to modify a tuple? Test this with code.

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

genrate random number within a range

In [ ]:
import random

def generate_random_number(start, end):
  return random.randint(start, end)
random_number = generate_random_number(1, 100)
random_number

96

count the occurence of each character in a string

---

In [ ]:


from collections import Counter

def count_char_occurrences(input_string):

  return dict(Counter(input_string))


input_string = "Hello, Python!"
char_counts = count_char_occurrences(input_string)
char_counts

{'H': 1,
 'e': 1,
 'l': 2,
 'o': 2,
 ',': 1,
 ' ': 1,
 'P': 1,
 'y': 1,
 't': 1,
 'h': 1,
 'n': 1,
 '!': 1}

find the largest palindrome made from the product of two numbers

In [ ]:

def is_palindrome(n):
    return str(n) == str(n)[::-1]

def largest_palindrome_product(n):
    largest_palindrome = 0
    for i in range(n - 1, 0, -1):
        for j in range(n - 1, 0, -1):
            product = i * j
            if is_palindrome(product) and product > largest_palindrome:
                largest_palindrome = product
    return largest_palindrome

n = 1000
largest_palindrome = largest_palindrome_product(n)
print(f"The largest palindrome made from the product of two {n-1}-digit numbers is {largest_palindrome}")

The largest palindrome made from the product of two 999-digit numbers is 906609




* using

In [ ]:
*a, b = [1, 2, 3, 4]
print(a, b)

[1, 2, 3] 4